#colab {
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 4vh;
  margin-top: 6vh;
  margin-left: 5vw;
}

.topics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

.pic {
  height: 70vh;
  width: 42vw;
  margin-left: 5vw;
  margin-top: -6vh;
}

.content h1 {
  margin-left: -3vw;
  font-size: 3.6vw;
}

.content p {
  width: 35vw;
  margin-left: -3vw;
  margin-top: 18vh;
  font-size: 1.7vw;
}

.link {
  margin-left: -3vw;
  font-size: 1.8vw;
  font-weight: 500;
  
}

.link span{
  text-decoration: none;
  color: black;
}

.pic1{
  height: 70vh;
  width: 42vw;
  margin-left: 1vw;
  margin-top: -4vh;
}

.btn{
  color: white;
  background-color: black;
  height: 7vh;
  width: 13vw;
  font-size: 1.2vw;
  border-radius: .2rem;
  text-align: center;
  padding-top: 2.5vh;
  margin: 4vh 7vw;
}

.btn:hover{
  border: 2px solid black;
  color: black;
  background-color: white;
}